<!DOCTYPE html>
<html lang="en"><head><style>@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ixoQuiz | infoXodia GK and QUIZ</title>
    <meta name="description" content="Let deep-dive into amazing general knowledge and quiz content of odisha culture, tradition, festival, art and more">
    <!-- <base href="/"> -->

    <!-- Open Graph meta tags -->
    <meta property="og:title" content="ixoQuiz | infoXodia GK and QUIZ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.infoxodia.com/quiz">
    <meta property="og:image" content="https://res.cloudinary.com/ddlvbiaan/image/upload/t_infoxodia-logo/c_fill,h_430,w_640/v1738482659/odisha-infoxodia-category-infoxodia.webp">
    <meta property="og:description" content="Let deep-dive into amazing general knowledge and quiz content of odisha culture, tradition, festival, art and more">

    <!-- Link to the favicon -->
    <link rel="icon" href="https://www.infoxodia.com/assets/favicon/favicon.ico" type="image/x-icon">
    
   

    <script src="https://www.infoxodia.com/thirdparty/jquery/jquery-3.6.0.min.js"></script>

    <!-- load bootstrap files  -->
     <script src="https://www.infoxodia.com/thirdparty/bootstrap/js/bootstrap.bundle.min.js"></script>
     <link rel="stylesheet" href="https://www.infoxodia.com/thirdparty/bootstrap/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://www.infoxodia.com/https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

     <!-- loading custom design  -->
      <link rel="stylesheet" href="https://www.infoxodia.com/thirdparty/custom/custom-theme.css">

     <!-- load css files  -->
     <link rel="stylesheet" href="https://www.infoxodia.com/styles/quiz/ixoquizpoststyle.css">
     <link rel="stylesheet" href="https://www.infoxodia.com/styles/dashboard.css">
     <link rel="stylesheet" href="https://www.infoxodia.com/styles/login.css">
     <link rel="stylesheet" href="https://www.infoxodia.com/styles/quiz/ixoquizstyle.css">
     <link rel="stylesheet" href="https://www.infoxodia.com/styles/general.css">

<link rel="canonical" href="https://www.infoxodia.com/quiz/category/odisha-special.html"><script type="application/ld+json">{"@context":"https://schema.org","@type":"WebPage","name":"ixoQuiz | infoXodia GK and QUIZ","url":"https://www.infoxodia.com/quiz","description":"Let deep-dive into amazing general knowledge and quiz content of odisha culture, tradition, festival, art and more"}</script></head>

<body ng-app="ixoUI" ng-controller="appController" class="ng-scope" data-new-gr-c-s-check-loaded="14.1228.0" data-gr-ext-installed="">
   <!-- ngView: --><div ng-view="" class="ng-scope"><div ng-controller="categoryController" class="ng-scope">

    <nav-bar><nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary general-nav">

    <div class="container-fluid">
      <a class="navbar-brand" href="/">infoXodia</a>
      <!-- <img class="navbar-brand img-fluid" style="height: 50px;" src="../../assets/svg/infoxodia-header-logo.svg" alt="" srcset=""> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
          
          
          <li class="nav-item">
            <a class="nav-link" href="https://www.infoxodia.com/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.infoxodia.com/contact">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              IXO
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/quiz/ixoquiz.html">ixoQuiz</a></li>
              <!-- <li><a class="dropdown-item" href="#"></a></li> -->
              <!-- <li><hr class="dropdown-divider"></li> -->
              <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
        </ul>
        <form class="d-flex ng-pristine ng-valid" role="search" ng-submit="doSearch()">
          <input class="form-control me-2 ng-pristine ng-untouched ng-valid ng-empty" type="search" placeholder="Search" aria-label="Search" ng-model="searchQuery">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav></nav-bar>

    <div class="container-fluid text-center pb-4 py-md-6">
        <div class="lc-block card border-0 text-center rounded p-4 p-lg-6" style="background:url(../../../assets/svg/ffflux-background.svg)  center / cover no-repeat;">
            <div class="row card-body mb-3 mb-lg-4">
                <div class="col-xl-11 col-xxl-9 mx-auto">
                    <div class="lc-block text-white">
                        <h3 editable="inline" class="fw-bold display-6">This is <span class="lc-block position-relative ng-binding">Odisha Special <img class="position-absolute top-100 start-0 mt-n1 img-fluid" src="../../../assets/svg/white_underline.svg"></span> category</h3>
                    </div>

                </div>
            </div>
            <!-- <div class="lc-block"><a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a></div> -->

        </div>
    </div>


    <!-- Post Article List --  -->

    <section>
        <div class="container py-6 py-lg-8">
            <div class="lc-block">
                <div id="archiveHomePosts" class="d-grid gap-3 mw-8 mx-auto">
                    <!-- post here  -->
                    <!-- ngRepeat: subCategory in ixoCategory.subCategories --><div class="col-12 py-3 border-top ng-scope" ng-repeat="subCategory in ixoCategory.subCategories">
                        <!-- ngRepeat: ixoQuizPost in subCategory.ixoQuizPosts --><div class="row align-items-center ng-scope" ng-repeat="ixoQuizPost in subCategory.ixoQuizPosts">
                            <div class="col-lg-2 mb-3 mb-lg-0">
                                <img loading="lazy" ng-src="https://res.cloudinary.com/ddlvbiaan/image/upload/t_infoxodia-logo/c_fill,h_430,w_640/v1738482659/odisha-infoxodia-category-infoxodia.webp" sizes="(max-width: 300px) 100vw, 300px" class="img-fluid" alt="utkala-dibasa-top-10-quiz" src="https://res.cloudinary.com/ddlvbiaan/image/upload/t_infoxodia-logo/c_fill,h_430,w_640/v1738482659/odisha-infoxodia-category-infoxodia.webp">
                            </div>
                            <div class="col-9 mb-3 mb-lg-0">
                                <div class="mw-4">
                                    <div class="row">
                                        <span class="col-6 col-lg-2 text-body text-opacity-75 mb-1 d-block ng-binding">
                                            Utkala Dibasa
                                        </span>
                                        <span class="col-6 col-lg-10 text-body text-opacity-75 mb-1 d-block ng-binding">
                                            2025-02-04
                                        </span>
                                    </div>
                                    <h3 class="fw-bold ng-binding">
                                        Top 10 Important GK and Quiz about Utkala Dibasa | Utkal Divas Facts
                                    </h3>
                                </div>
                            </div>
                            <div class="col ms-lg-auto">
                                <a class="d-inline-flex align-items-center fw-semibold icon-link icon-link-hover" href="https://www.infoxodia.com/quiz/odisha-special/utkala-dibasa-quiz">
                                    <span>Read</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="bi bi-arrow-right animate-bounce" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z"></path>
</svg>
                                </a>
                            </div>
                        </div><!-- end ngRepeat: ixoQuizPost in subCategory.ixoQuizPosts -->
                    </div><!-- end ngRepeat: subCategory in ixoCategory.subCategories --><div class="col-12 py-3 border-top ng-scope" ng-repeat="subCategory in ixoCategory.subCategories">
                        <!-- ngRepeat: ixoQuizPost in subCategory.ixoQuizPosts --><div class="row align-items-center ng-scope" ng-repeat="ixoQuizPost in subCategory.ixoQuizPosts">
                            <div class="col-lg-2 mb-3 mb-lg-0">
                                <img loading="lazy" ng-src="https://res.cloudinary.com/ddlvbiaan/image/upload/t_infoxodia-logo/c_fill,h_430,w_640/v1739464715/odisha-first-gk-quiz-infoxodia.webp" sizes="(max-width: 300px) 100vw, 300px" class="img-fluid" alt="odisha-first-gk-quiz" src="https://res.cloudinary.com/ddlvbiaan/image/upload/t_infoxodia-logo/c_fill,h_430,w_640/v1739464715/odisha-first-gk-quiz-infoxodia.webp">
                            </div>
                            <div class="col-9 mb-3 mb-lg-0">
                                <div class="mw-4">
                                    <div class="row">
                                        <span class="col-6 col-lg-2 text-body text-opacity-75 mb-1 d-block ng-binding">
                                            Odisha's First
                                        </span>
                                        <span class="col-6 col-lg-10 text-body text-opacity-75 mb-1 d-block ng-binding">
                                            2025-02-13
                                        </span>
                                    </div>
                                    <h3 class="fw-bold ng-binding">
                                        12+ Odia Gk &amp; Quiz about Odisha's First | Odisha First Person, Events and More
                                    </h3>
                                </div>
                            </div>
                            <div class="col ms-lg-auto">
                                <a class="d-inline-flex align-items-center fw-semibold icon-link icon-link-hover" href="/quiz/posts/odisha-special/odisha-first-gk-set1.html">
                                    <span>Read</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="bi bi-arrow-right animate-bounce" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z"></path>
</svg>
                                </a>
                            </div>
                        </div><!-- end ngRepeat: ixoQuizPost in subCategory.ixoQuizPosts -->
                    </div><!-- end ngRepeat: subCategory in ixoCategory.subCategories --><div class="col-12 py-3 border-top ng-scope" ng-repeat="subCategory in ixoCategory.subCategories">
                        <!-- ngRepeat: ixoQuizPost in subCategory.ixoQuizPosts --><div class="row align-items-center ng-scope" ng-repeat="ixoQuizPost in subCategory.ixoQuizPosts">
                            <div class="col-lg-2 mb-3 mb-lg-0">
                                <img loading="lazy" ng-src="https://res.cloudinary.com/ddlvbiaan/image/upload/t_infoxodia-logo/v1739896941/odisha-smallest-odia-gk-quiz-infoxodia.webp" sizes="(max-width: 300px) 100vw, 300px" class="img-fluid" alt="odisha-smallest-odia-gk-quiz" src="https://res.cloudinary.com/ddlvbiaan/image/upload/t_infoxodia-logo/v1739896941/odisha-smallest-odia-gk-quiz-infoxodia.webp">
                            </div>
                            <div class="col-9 mb-3 mb-lg-0">
                                <div class="mw-4">
                                    <div class="row">
                                        <span class="col-6 col-lg-2 text-body text-opacity-75 mb-1 d-block ng-binding">
                                            Odisha's Smallest
                                        </span>
                                        <span class="col-6 col-lg-10 text-body text-opacity-75 mb-1 d-block ng-binding">
                                            2025-02-18
                                        </span>
                                    </div>
                                    <h3 class="fw-bold ng-binding">
                                        15+ Odisha Smallest Wonders GK and Quiz | infoXodia - Odisha GK
                                    </h3>
                                </div>
                            </div>
                            <div class="col ms-lg-auto">
                                <a class="d-inline-flex align-items-center fw-semibold icon-link icon-link-hover" href="https://www.infoxodia.com/quiz/odisha-special/odisha-smallest-gk-quiz-mcq-set1">
                                    <span>Read</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="bi bi-arrow-right animate-bounce" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                                        <path d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z"></path>
</svg>
                                </a>
                            </div>
                        </div><!-- end ngRepeat: ixoQuizPost in subCategory.ixoQuizPosts -->
                    </div><!-- end ngRepeat: subCategory in ixoCategory.subCategories -->
                    <!-- post here end -->

                </div>


            </div>
        </div>
    </section>
 
 
  
<!-- nav-bar  -->

<footer-bar><!-- footer -->
<footer class="pt-lg-10 pt-5 footer bg-white">
  <div class="container">
    <div class="row border-top">
      <div class="col-lg-4 col-md-6 col-12">
        <!-- about company -->
        <div class="mb-4">
          <!-- need to place logo image here ..  -->
          <!-- <img src="../../assets/svg/underline.svg" alt="" class="logo-inverse"> -->
           <h3>INFOxODIA</h3>
          <div class="mt-4">
            <p>Jay Jagannath ! We are like a family, Join us and let explore our culture together</p>
            <!-- social media -->
            <div class="fs-5 mt-4">
              <!--Facebook-->
              <a href="https://www.youtube.com/@infoxodia" aria-label="Youtube" class="me-2">
                <i class="bi bi-youtube"></i>
              </a>
              <!--Instagram Thread-->
              <a href="https://www.instagram.com/infoxodia" aria-label="Instagram" class="me-2">
                <i class="bi bi-instagram"></i>
              </a>

              <!--Instagram-->
              <a href="https://www.threads.net/@infoxodia" aria-label="Thread" class="me-2">
                <i class="bi bi-threads-fill"></i>
              </a>

              <!--Twitter X-->
              <a href="https://x.com/InfoXodia" aria-label="Twitter/X" class="me-2">
                <i class="bi bi-twitter-x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-lg-1 col-lg-2 col-md-3 col-6">
        <div class="mb-4">
          <!-- list -->
          <h3 class="fw-bold mb-3">Company</h3>
          <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
            <li><a href="https://www.infoxodia.com/about" class="nav-link">About</a></li>
            <!-- <li><a href="#" class="nav-link">Contact</a></li> -->
            <!-- <li><a href="#" class="nav-link">Blog</a></li>
            <li><a href="#" class="nav-link">Careers</a></li> -->
            <li><a href="https://www.infoxodia.com/contact" class="nav-link">Contact</a></li>
            <li><a href="https://www.infoxodia.com/ixo-faq" class="nav-link">FAQ’s</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-6">
        <div class="mb-4">
          <!-- list -->
          <h3 class="fw-bold mb-3">Products</h3>
          <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
            <!-- <li><a href="#" class="nav-link">Help and Support</a></li>
            <li><a href="#" class="nav-link">Become Instructor</a></li> -->
            <!-- <li><a href="#" class="nav-link">Get the app</a></li> -->
            <li><a href="https://www.infoxodia.com/quiz" class="nav-link">IXO QUIZ</a></li>
            <!-- <li><a href="#" class="nav-link">Tutorial</a></li> -->
          </ul>

        </div>
      </div>
      <div class="col-lg-3 col-md-12">
        <!-- contact info -->
        <div class="mb-4">
          <h3 class="fw-bold mb-3">Get in touch</h3>
          <p>Please mail us on below Mail id for support and conact</p>
          <p class="mb-1">Email: <a href="mailto:infoxodia@gmail.com">infoxodia@gmail.com</a></p>
          <!-- <p>Phone: <span class="text-dark fw-semibold">(000) 123 456 789</span></p> -->

          <!-- playstore and app store link image  -->
          <!-- <div class="d-flex">
            <a href="#"><img src="../assets/images/svg/appstore.svg" alt="" class="img-fluid"></a>
            <a href="#" class="ms-2"><img src="../assets/images/svg/playstore.svg" alt="" class="img-fluid"></a>
          </div> -->

        </div>
      </div>
    </div>
    <div class="row align-items-center g-0 border-top py-2 mt-6">
      <!-- Desc -->
      <div class="col-md-10 col-8">
        <div class="d-lg-flex align-items-center">
          <div class="me-4">
            <span>© <span id="copyright5">
                <!-- <script>document.getElementById('copyright5').appendChild(document.createTextNode(new Date().getFullYear()))</script> -->
                 2025
              </span> infoXodia</span>
          </div>
          <div>
            <nav class="nav nav-footer">
              <a class="nav-link ps-0" href="https://www.infoxodia.com/privacy-policy">Privacy Policy</a>
              <a class="nav-link px-2 px-md-3" href="https://www.infoxodia.com/disclaimer">Disclaimer</a>
              <!-- <a class="nav-link d-none d-lg-block" href="#">Do Not Sell My Personal Information </a> -->
              
            </nav>
          </div>
        </div>
      </div>

      <!--Other Links Start -->
      <div class="col-4  col-md-2 d-md-flex justify-content-end">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle text-body" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fe fe-globe me-2 align-middle"></i>More
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item " href="https://www.infoxodia.com/terms-condition"><span class="me-2">
                </span>Terms and Conditions</a></li>
            <!-- <li><a class="dropdown-item " href="#"><span class="me-2">
                </span>Français</a></li>
            <li>
              <a class="dropdown-item " href="#"><span class="me-2">
                </span>Deutsch</a>
            </li> -->
          </ul>
        </div>
      </div>
      <!-- Other links end  -->
    </div>
  </div>
</footer>
</footer-bar>


</div></div>


</body>
</html>